@{
    ViewData["Title"] = "Home Page";
}


<h1>Welcome to EduApp!</h1>

<p>This app currently allows you to:</p>

<div class="list-group">
    <a class="list-group-item list-group-item-action" asp-controller="Quiz" asp-action="Create">
        📝 Create a new quiz
    </a>
    <a class="list-group-item list-group-item-action" asp-controller="Quiz" asp-action="Index">
        📋 Add questions and answers to existing quizzes and start a quiz
    </a>
</div>