@using EduApp.ViewModels
@model QuizDto

<div class="form-group mb-3">
    <label asp-for="Title"></label>
    <input asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span>
</div>

<div class="form-group mb-3">
    <label asp-for="Description"></label>
    <textarea asp-for="Description" class="form-control"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

<h3>Questions</h3>
<div id="questionsContainer"></div>

<button type="button"
        class="btn btn-secondary mb-3"
        id="addQuestionBtn">
    Add Question
</button>
<br />
<button type="submit" class="btn btn-success">Save Quiz</button>
